@font-face {
  font-family: OpenSans;
  src: url("../fonts/OpenSans-Regular.ttf");
}

@font-face {
  font-family: Neucha;
  src: url("../fonts/Neucha-Regular.ttf");
}

:root {
  --white: #fff;
  --translucent-white: #d7ccc0;
  --light: #f5f4f0;
  --main: #fe8a02;
  --main-dark: #42413c;
  --dark: #2a2626;
  --translucent-dark: #908d8b;
  --brown: #b09a81;
  --blue: #1085c5;
  --header-lineheight: 1.2em;
  --h1-fontsize: 72px;
  --h2-fontsize: 60px;
  --h3-fontsize: 34px;
}

body {
  margin: 0;
  font-size: 16px;
  font-family: OpenSans, sans-serif;
  line-height: 1.6em;
}

h1 {
  position: relative;
  z-index: 1000;
  margin: 0;
  font-weight: 400;
  font-size: var(--h1-fontsize);
  font-family: Neucha, serif;
  line-height: var(--header-lineheight);
}

h2 {
  position: relative;
  margin: 0;
  margin-bottom: 15px;
  color: var(--main);
  font-weight: 400;
  font-size: var(--h2-fontsize);
  font-family: Neucha, serif;
  line-height: var(--header-lineheight);
  text-align: center;
}

.section-headline h2 {
  text-align: left;
}

h3 {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: var(--h3-fontsize);
  font-family: Neucha, serif;
  line-height: var(--header-lineheight);
}

.section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 100px 0;
}

.bg-light {
  background-color: var(--light);
}

.bg-white {
  background-color: var(--white);
}

.section-item::before {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("../images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;
  content: "";
}

.video-section {
  margin-bottom: -200px;
}

.navigation-section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 0;
  background-color: var(--main-dark);
}

.video {
  position: relative;
  z-index: 1000;
  width: 919px;
  height: 569px;
  margin-top: 14px;
  border: 0;
  filter: drop-shadow(0 16px 32px rgba(0 0 0 / 15%));
}

.headline {
  position: relative;
}

.headline-img {
  position: absolute;
  top: -50px;
  right: -270px;
  z-index: 3;
  height: 525px;
}

.orange {
  color: var(--main);
}

.white {
  color: var(--white);
}

.w-1110 {
  width: 1110px;
}

.columns {
  position: relative;
  display: flex;
  column-gap: 30px;
}

.column {
  flex: 1;
}

.center {
  display: flex;
  align-items: center;
}

.button-1 {
  display: block;
  width: max-content;
  margin-top: 35px;
  padding: 12px 24px;
  color: var(--white);
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  background-color: var(--main);
}

.cards {
  display: flex;
  flex-wrap: wrap;
  align-items: space-between;
  justify-content: space-between;
  margin: 100px 0;
  padding: 0;
}

.card {
  display: flex;
  width: calc(1110px / 3 - 20px);
  margin-bottom: 20px;
  list-style: none;
  background-color: var(--light);
}

.card-headline {
  width: calc(1110px / 3 - 20px);
  margin-bottom: 20px;
  font-size: 52px;
  font-family: Neucha, serif;
  line-height: var(--header-lineheight);
  list-style: none;
  background-color: var(--main-dark);
}

.card-link {
  display: flex;
  flex-direction: column;
  padding: 24px;
  color: var(--dark);
  text-decoration: none;
}

.section-img {
  vertical-align: middle;
  filter: drop-shadow(0 16px 32px rgba(0 0 0 / 15%));
}

.section-headline {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-weight: 400;
  font-family: Neucha, serif;
}

.section-headliner {
  margin: 0;
  margin-top: 100px;
  margin-bottom: 20px;
  padding: 0;
  padding-left: 10px;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
}

.footer-container {
  display: flex;
  flex-direction: columns;
  justify-content: center;
}

.submit-part {
  background-color: var(--main-dark);
}

.submit-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.submit-form {
  display: flex;
  width: 100%;
}

.input-form {
  box-sizing: border-box;
  width: 100%;
  height: 50px;
  padding: 15px;
  border: none;
  outline: none;
}

.input-from::placeholder {
  opacity: 0.8;
}

.input-button {
  position: relative;
  flex-shrink: 0;
  width: 65px;
  height: 50px;
  background-color: var(--main);
  border: none;
  outline: none;
  cursor: pointer;
}

.input-button::before {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 24px;
  height: 24px;
  background-image: url("../images/send.svg");
  transform: translate(-50%, -50%);
  content: "";
}

.sign-part {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 100px;
  font-size: 14px;
  text-align: center;
}

.num {
  padding-bottom: 40px;
  font-size: 64px;
  font-family: Neucha, serif;
  line-height: 1;
}

.m-0 {
  margin: 0;
}

.pt-185 {
  padding-top: 185px;
}

.p-55 {
  box-sizing: border-box;
  padding: 55px;
}

.s-24 {
  font-size: 24px;
}

.s-34 {
  font-size: 34px;
}

.t-dark {
  color: var(--translucent-dark);
}

.t-white {
  color: var(--translucent-white);
}

.brown {
  color: var(--brown);
}

.header-lineheight {
  line-height: var(--header-lineheight);
}

.bg-brown {
  background-color: var(--brown);
}

.light {
  color: var(--light);
}

.dark {
  color: var(--dark);
}

.fs-18 {
  font-size: 18px;
}

.fs-12 {
  font-size: 12px;
}
